[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/hunterlxt/rocksdb.git
	branch = xt/bk-sst
[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master

